<h2>You can submit a review here!</h2>

<form id="submit-form" method="post" action="/submitReview">
    <!-- Title -->
    <label for = "reviewTitle">Review title: </label>
    <input type="text" name = "reviewTitle" id="reviewTitle" required>
    <!-- Course -->
    <label for = "course">Course: </label>
    <select name = "course">
        <option value = "MA 222">MA 222</option>
        <option value = "CS 115">CS 115</option>
        <option value = "PEP 112">PEP 112</option>
    </select>
    <!-- Description -->
    <label for = "description">Description: </label>
    <textarea name = "description" id = "description" rows="4" cols="50" required></textarea>
    <!-- Location -->
    <label for = "location">Location: </label>
    <input type="text" name = "location" id = "location" required>
    <!-- Date -->
    <label for = "date">Date: </label>
    <input type="date" name = "date" id = "date" required>
    <!-- Time -->
    <label for = "startTime">Time: </label>
    <input type = "time" name = "startTime" id = "time" required>
    <!-- Submit -->
    <button type="submit">Submit</button>
</form>